
.footer {
    margin: 51px 0 0 0;
}

.footer-menu {
    position: relative;
    height: 69px;
    background-color: #b5b8bb;
}

.footer-menu-elements {
    display: inline-block;
    box-sizing: border-box;
    padding: 22px 0px 22px 44px;
}


.footer-menu-elements-href {
    display: inline-block;
    font-family: sans-serif;
    text-decoration: none;
    color:  #0c1927;
    font-size: 28px;  
}

.footer-menu-elements-href:hover{
    color: #2e82a7;
    text-decoration: underline;
    
}

.footer-menu-copyright {
    display: inline-block;
    position: absolute;
    padding: 22px 0px 22px 44px;
    right: 34px;
}

.footer-menu-copyright-text {
    font-family: sans-serif;
    text-decoration: none;
    color:  #010000;;
    font-size: 24px;
}
