.header {
    
}

.header-logo {
    margin: 61px 0 41px 0;    
}

.header-logo-text {
    display: inline-block;
    font-size: 80px;    
    float: left;
    text-decoration: none;
}

.header-logo-text-1 {
    color: #000000;
}

.header-logo-text-2 {
    color: #4bcaff;
}

.header-menu {
    height: 69px;
    background-color:  #35444f;
    margin-bottom: 51px;
}

.header-menu-container {
    height: 100%;
    padding: 0 120px 0 122px;
    font-size: 0;
}

.header-menu-container-elements {
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    padding: 26px 41px;
    border-right: 1px solid #35444f;
    border-left: 1px solid #35444f;

}

.header-menu-container-elements:hover {
    border-right: 1px solid #818181;;
    border-left: 1px solid #818181;;
    background-color: #222f3a;
}

.header-menu-container-elements-text {
    font-size: 24px;
    
    text-decoration: none;
    color: #ffffff;
}