* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

body {
    background-color: #ffffff;
}

.header-logo {
    margin: 61px 101px;    
}

.header-logo-text {
    font-size: 80px;    
}

.header-logo-text-1 {
    color: #000000;
}

.header-logo-text-2 {
    color: #4bcaff;
}

.header-menu {
    margin: 0 auto;
    background-color:  #35444f;
    width: 1280px;
    height: 69px;
    
}

.header-menu-elements {
    
}