.main {
    
}

.container {
    width: 1280px;
}

.main-menu {
    display: inline-block;
/*    width: 344px;*/
/*    height: 399px;*/
    border: 1px solid black;
}

.main-menu-elements {
    padding: 30px 112px 30px 44px;
}

.main-menu-elements:hover {
    box-sizing: border-box;
    background-color: #dcdcdc;
    padding: 30px 92px 30px 64px;
}


.main-menu-elements-text {
    font-size: 27px;
    text-decoration: none;
    color: #475763;
}

.main-content {
    display: inline-block;
    float: right;
    width: 885px;
}

.main-content-photo {
    box-sizing: border-box;
    height: 529px;
    border: 1px solid black;
    padding: 55px 0px 0px 0px;
}

.main-content-photo-img {
    width: 320px;
    height: 381px;
    margin: 0 auto;
    background-image: url(../img/top-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content-description {
    width: 815px;
    margin: 0 auto;
    padding: 50px 0 0 0;
}

.main-content-description-text {
    color:  #2c2b2b;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
}
