@import url(header-style.css);
@import url(main-style.css);
@import url(footer.css);

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: #ffffff;
    font-family: sans-serif;
    font-stretch: semi-condensed;
}

.container {
    width: 1280px;
    margin: 0 auto;
}
